# Web Frameworks
fastapi
uvicorn

# Only for local development, not needed in production 
# streamlit

# Database & Vector DB
pinecone
supabase

# Data Science & PDF Processing
fitz
pdf2image
pytesseract
pymupdf4llm

# LLMs & Embeddings
langgraph
langchain-text-splitters
tiktoken

# API & Utilities
requests
python-dotenv
pydantic

# Testing
pytest
